---
version: '3.7'
networks:
  nginx_net:
    external: true
  key:

#https://quay.io/repository/keycloak/keycloak?tag=latest&tab=tags
services:
  keycloak_postgres:
      image: {{ keycloak_pg_image }}
      volumes:
        - keycloak_postgres:/var/lib/postgresql/data
      environment:
        POSTGRES_DB: "{{ keycloak_db_name }}"
        POSTGRES_USER: "{{ keycloak_db_user }}"
        POSTGRES_PASSWORD: "{{ keycloak_db_pass }}"
      networks:
        - key
  keycloak:
      image: {{ keycloak_image }}
      environment:
        DB_VENDOR: POSTGRES
        DB_ADDR: keycloak_postgres
        DB_DATABASE: "{{ keycloak_db_name }}"
        DB_USER: "{{ keycloak_db_user }}"
        DB_SCHEMA: public
        DB_PASSWORD: "{{ keycloak_db_pass }}"
        KEYCLOAK_USER: "{{ keycloak_admin_user }}"
        KEYCLOAK_PASSWORD: "{{ keycloak_admin_pass }}"
        PROXY_ADDRESS_FORWARDING: "true"
        KEYCLOAK_IMPORT: /usr/import/realm.json
        # Uncomment the line below if you want to specify JDBC parameters. The parameter below is just an example, and it shouldn't be used in production without knowledge. It is highly recommended that you read the PostgreSQL JDBC driver documentation in order t$
        #JDBC_PARAMS: "ssl=true"
# export @ startup
#      command: -b 0.0.0.0 -Djboss.http.port=8080 -Dkeycloak.migration.action=export -Dkeycloak.migration.provider=singleFile -Dkeycloak.migration.file=/tmp/export.json -Dkeycloak.migration.strategy=OVERWRITE_EXISTING
      volumes:
        - ./realm.json:/usr/import/realm.json
        - ./terms.ftl:/opt/jboss/keycloak/themes/base/login/terms.ftl
        - ./messages_de.properties:/opt/jboss/keycloak/themes/base/login/messages/messages_de.properties
        - ./messages_en.properties:/opt/jboss/keycloak/themes/base/login/messages/messages_en.properties
      ports:
        - 8080
      depends_on:
        - keycloak_postgres
      networks:
        - nginx_net
        - key

volumes:
  keycloak_postgres:
    driver_opts:
      type: "none"
      o: "bind"
      device: "{{ keycloak_pg_data_dir }}"


