server {
  server_name  {{ greenlight_server }} {{ greenlight_aliases|join(' ') }};
  listen   80;
  listen [::]:80;

  return 301 https://$host$request_uri;
}

server {
  server_name  {{ greenlight_server }} {{ greenlight_aliases|join(' ') }};

  listen 443 ssl http2;
  listen [::]:443 ssl http2;
  include snippets/ssl.conf;

  {% if existing_certs is defined and existing_certs|bool==true %}
    ssl_certificate {{ ssl_certs_path }}/{{ nginx_domain }}.crt;
    ssl_certificate_key {{ ssl_private_path }}/{{ nginx_domain }}.key;
  {% elif container_cert_path is defined %}
    ssl_certificate {{ container_cert_path }};
    ssl_certificate_key {{ container_key_path }};
  {% endif %}

  access_log  /var/log/nginx/greenlight_access.log;

#   # Redirect server error pages to the static page /50x.html
#   #
#   error_page   500 502 503 504  /50x.html;
#   location = /50x.html {
#           root   /etc/nginx/html;
#   }

#  error_page   403 /403.html;
#  location = /403.html {
#          root   /etc/nginx/html;
#  }  

{% if greenlight_subpath is defined %}
  location = / {
    return 307 /{{ greenlight_subpath }};
  }
{% endif %}

{% if existing_certs is defined and existing_certs|bool==false %}
  location /.well-known/acme-challenge {
      types { } default_type "text/plain";
      root /var/www/letsencrypt;
      try_files $uri $uri/ =404;
      break;
  }
{% endif %}

  # Routes requests to Greenlight based on the '/b' prefix.
  # Use this file to route '/b' paths on your BigBlueButton server
  # to the Greenlight application. If you are using a different
  # subpath, you should change it here.

  location /{% if greenlight_subpath is defined %}{{ greenlight_subpath }}|d("") }}{% endif %} {
  {% if include_auth is defined and include_auth|bool==true %}
    include snippets/{{ access_group }}_auth.conf;
  {% endif %}
    set $upstream http://greenlight:80;
    proxy_pass          $upstream;
    proxy_set_header    Host              $host;
    proxy_set_header    X-Forwarded-For   $proxy_add_x_forwarded_for;
    proxy_set_header    X-Forwarded-Proto $scheme;
    proxy_http_version  1.1;
  }

  location /{% if greenlight_subpath is defined %}{{ greenlight_subpath +"/"}}|d("") }}{% endif %}cable {
  {% if include_auth is defined and include_auth|bool==true %}
    include snippets/{{ access_group }}_auth.conf;
  {% endif %}
    set $upstream http://greenlight:80;
    proxy_pass          $upstream;
    proxy_set_header    Host              $host;
    proxy_set_header    X-Forwarded-For   $proxy_add_x_forwarded_for;
    proxy_set_header    X-Forwarded-Proto $scheme;
    proxy_set_header    Upgrade           $http_upgrade;
    proxy_set_header    Connection        "Upgrade";
    proxy_http_version  1.1;
    proxy_read_timeout  6h;
    proxy_send_timeout  6h;
    client_body_timeout 6h;
    send_timeout        6h;
  }
}
